click
gt4py[dace]@git+https://github.com/GridTools/gt4py.git@main
h5py
ifs_physics_common@git+https://github.com/stubbiali/ifs-physics-common.git@main
numpy
pandas
pydantic
sympl@git+https://github.com/stubbiali/sympl.git@oop#egg=sympl
xarray
