click
gt4py[dace]>=1.0.1
h5py
ifs_physics_common@git+https://github.com/stubbiali/ifs-physics-common.git@main
numpy
pandas
pydantic
sympl@git+https://github.com/stubbiali/sympl.git@oop#egg=sympl
xarray
